@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}
body {
  background-color: #dbe2e9;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.background {
  background-color: white;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 61px 7px #5e849c40;
  padding: 50px 20px;
  border-radius: 20px;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
}
.gallery-photo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
  grid-gap: 20px;
}
.item {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: 0.3s ease box-shadow;
}

.item:hover {
  box-shadow: 0px 0px 20px 3px #00000042;
}
.item:nth-last-child(1) {
  margin-bottom: 0;
}
.item h3 {
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -70px;
  font-weight: 300;
  transition: 0.5s ease-in-out bottom;
}
.item:hover h3 {
  bottom: 0;
}
@media only screen and (min-width: 900px) {
  .background {
    max-width: 1160px;
    padding: 100px;
  }
  .image {
    flex-direction: row;
    justify-content: space-between;
  }
  .image h1 {
    font-size: 50px;
  }
  .image input {
    font-size: 24px;
  }
  .image ion-icon {
    font-size: 24px;
  }
  .gallery {
    grid-gap: 30px;
  }
}

{
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.float-text {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: fit-content;
  background-color: #192227;
  color: whitesmoke;
  font-family: "Montserrat";
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  cursor: pointer;
  border: 1px solid white;
}
